* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    word-wrap: break-word;
}
html, 
body {
    max-width: 1400px;
    margin: 0 auto;
    height: 100%;
}
html {
    font-size: 100%;
    scroll-behavior: smooth;
    line-height: 1.5;
}
body {
    font-family: "Montserrat", serif;
    color: #333;
    background-color: #fff;  
}

/* default styles */
header, 
main, 
footer{
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}
section {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    width: 100%;
}
img, 
video, 
picture, 
iframe {
    width: 100%;
    max-width: 100%;
    display: block;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover{
    text-decoration: underline;
}
button, 
.button{
    font: inherit;
    padding: 5px;
    border: none;
    border-radius: 0.5rem;
    background-color: transparent;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s;
}
button:hover{
    background-color: rgba(0, 0, 0, 0.1);
}
ul, ol {
    list-style: none;
}
label {
    display: flex;
    flex-direction: column;
}



/* default text styles */
h1, h2, h3, h4 {
    margin-bottom: 1rem;
}
h1 {
    font-size: 1.8rem;
}
h2 {
    font-size: 1.6rem;
}
h3 {
    font-size: 1.4rem;
}
h4 {
    font-size: 1.2rem;
}
p, a, i {
    font-size: 1rem;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-spin-button {
    height: 25px; 
    width: 25px;
}
p, a, input, label, legend, select {
    font-family: "Montserrat", serif;
}



/* classes */
.hidden-two {
    visibility: hidden;
}
.container {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    width: 100%;
    max-width: 100%;
}
.container main {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-row: 2 / 3;
}
.flex-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: flex-start;
    gap: 1rem;
}
.border-container {
    position: relative;
}
.border-container .text-labels {
    position: absolute;
    background-color: white;
    left: 15px;
    top: -10px;
    padding: 0;
    z-index: 1;
    font-size: 0.85rem;
}
.border-container .border-style {
    font-family: inherit;
    border:1px black solid ;
    padding: 1.2rem 0.5rem 0.5rem 0.5rem;
    z-index: 0;
    margin-bottom: 1rem;
    background-color: transparent;
}
.border-container i, .border-style i {
    padding: 1rem;
}
.hidden{
    display: none;
}
.article-cards {
    display: grid;
    overflow: hidden;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    align-self: center;
    border-radius: 13px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
    text-align: start;
    border: 1px solid #f6f5f2;
    position: relative;
}
.article-cards img {  
    width: 100%;   
    object-fit: cover;   
}
.article-cards h3 {
    padding: 0.8rem;
    margin: 0;
}
.article-cards p {
    padding: 1rem;
    margin-bottom: 2rem;
}

#sale-section.scroll-container {
    max-height: 300px;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 1.5rem;
}

.scroll-arrow {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: transparent;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}
.prev, .next {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.25);
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    border-radius: 50%;
    z-index: 2;
}
.prev i, .next i {
    font-size: 90%;
}
.prev {
    left: 10px;
}
.next {
    right: 10px;
}
.prev:hover, 
.next:hover {
    background: rgba(0, 0, 0, 0.50);
}
.rating {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-weight: 700;
    font-size: 0.9rem;
}
.rating span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 15px;
    background: #019101;
    color: white;
    border: none;
    padding: 15px 25px;
    border-radius: 10px;
    margin-right: 1px;
}
.submit-btn {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #ffcf40;
    color: black;
    border: none;
    border-radius: 5px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.button.yellow {
    background-color: #ffcf40;
}
.blue-links {
    display: flex;
    align-items: center;
    color: #1ca2c1;
    font-weight: bold;
}
.blue-bottom {
    border-bottom: 3px solid #1ca2c1;
    width: fit-content;
    margin: 0 0.5rem;
    padding: 0 0.5rem;
}
.blue-bottom i {
    margin-left: 5px;
}
.blue-links i {
    margin-left: 5px;
}
.hidden{
    display: none;
}
#new-tag, #deal-of-the-week-tag {
    position: absolute;
    background-color: #1ca2c1;
    width: fit-content;
    color: white;
    overflow: hidden;
    font-weight: 800;
    font-size: 1.2rem;
    border-radius: 0 0 25px 0;
    padding: 0.7rem 1rem 0.9rem 0.9rem;
}
.dot {
    font-size: 15px;
    font-weight: bolder;
}


/* header and footer */
#global-header i, #global-footer i {
    font-size: 2rem;
}
#global-header {
    grid-row: 1 / 2;
    max-width: 100%;
    padding: 1rem 0.5rem;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.05);
}
#global-header nav{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
}
.logo-link {
    grid-row: 1 / 2;
    width: 65px;
    justify-self: flex-start;
}
#website-logo {
    max-width: 65px;
    width: 65px;
    height: auto; 
}
.right-header {
    justify-self: flex-end;
    grid-row: 1 / 2;
    flex-wrap: wrap;
}
#header-menu {
    align-self: center;
}
#burger-menu {
    display: none;
}
#burger-menu.show {
    display: flex;
    max-height: 500px;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin-left: auto;
    font-weight: bold;
}
#burger-menu li a{
    text-wrap: nowrap;
}
#global-footer {
    grid-row: 3 / 4;
    display: grid;
    max-width: 100%;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(4, auto);
    gap: 1rem 0;
    background-color: #252525;
    color: white;
    padding: 1rem;
}

#global-footer section {
    width: 100%;
    padding: 1rem;
}
#global-footer h3 {
    text-transform: uppercase;
}
#footer-countries {
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    max-width: 100%;
}
#flag-menu {
    align-self: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}
#flag-menu li {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: left;
}
#flag-menu img {
    max-width: 50px;
    margin-right: 10px;
}
#footer-payment {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
}
#footer-news {
    text-wrap: nowrap;
    width: 100%;
    grid-row: 3 / 4;
    grid-column: 1 / 3;
}
#footer-news .border-container {
    border: 1px solid white;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: auto auto;
    gap: 2rem;
    width: 100%;
    padding: 1rem 1rem 2rem 1rem;
    margin-bottom: 1rem;
}
#footer-news .border-style {
    color: #252525;
    background-color: white;
    border: transparent;
    border-radius: 10px;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding: 10px;
    width: 100%;
    margin: 0;
}
#footer-news .text-labels {
    text-wrap: wrap;
    padding: 1px 2px;
    background-color: #252525;
    z-index: 0;
}
#footer-news #email-send {
    width: 100%;
    align-self: flex-end;
    justify-self: flex-end;
    text-align: center;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding: 10px;
    z-index: 1;
}
#footer-news .button {
    background-color: #ffcf40;
}
#footer-customerservice {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
}
#footer-socialmedia {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
}

/* front page */
.container.frontpage {
    width: 100%;
}
.container.frontpage main {
    grid-template-rows: repeat(4, auto);
}
#frontpage-header {
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);    
}
#banner {
    background-image: url(../img/sea-4768869_1920.jpg);
    background-size: cover;
    background-position: 40% center;
    background-repeat: no-repeat;
    text-align: center;
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

#order-form .scroll-container {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
}
#order-form .scroll-element {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-x: auto;
    gap: 10px;
    scroll-snap-type: x mandatory;
}
#order-form .scroll-item {
    scroll-snap-align: start;
    white-space: nowrap;
}
#order-form .scroll-container button {
    background: rgba(255, 255, 255, 0.7);
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    color: black;
    transform: translateY(-50%);
    z-index: 10;
    top: 50%;
    position: absolute;
}
#order-form .scroll-container .prev {
    left: 0;
}

#order-form .scroll-container .next {
    right: 0;
}
.scroll-container .hidden {
    display: none;
}

.scroll-element {
    scrollbar-width: none; 
}
.scroll-element::-webkit-scrollbar {
    display: none; 
}

#order-form {
    gap: 2rem;
    justify-self: center;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
    padding: 1rem;
    width: 90%;
    margin-bottom: 5rem;

    grid-column: 1 / 3;
    grid-row: 2 / 5;
}
#formtabs {
    padding: 0;
}
#formtabs a {
    font-size: 1.2rem;
    text-decoration: none;
}
#formtabs li {
    padding-bottom: 0.1rem;
}
#formtabs li.active {
    border-bottom: 4px #52d3f0 solid;
}
#form-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, auto);
    padding: 1rem;
    column-gap: 1rem;
}
#form-layout .border-style{
    border-radius: 10px;
    padding: 0.8rem;
}
#orderCategories {
    padding-top: 1rem;
    padding-bottom: 1rem;
    overflow-x: hidden;
    overflow-y: hidden;
}
#orderCategories i {
    margin-right: 10px;
    font-size: 1.5rem;
}
#fromDestinationLabel {
    grid-row: 1 / 2;
}
#toDestinationLabel {
    grid-row: 2 / 3;
}
#travelDurationLabel {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}
#travelDateLabel {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}
#amountTravellersLabel {
    grid-row: 4 / 5;
}
#searchTravel {
    grid-row: 5 / 6;
    font-weight: 800;
}
#orderCategoriesLabel, 
#fromDestinationLabel, 
#toDestinationLabel, 
#amountTravellersLabel, 
#searchTravel {
    grid-column: 1 / 3;
}
#deal-section {
    grid-row: 2 / 3;
    display: grid;
    background-image: url(../img/holiday-2733322_1280.jpg);
    background-size: cover;
    min-height: 500px;
    border-radius: 20px;
    margin-bottom: 5rem;
    gap: 1rem;
}
#deal-section article {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100px;
    min-width: 300px;
    background-color: #52d3f0;
    padding: 3rem 4rem;
    margin: 0 auto;
    border-radius: 0 35px 0 35px;
    justify-self: center;
    align-self: center;
}
#deal-section article h4 {
    font-weight: 900;
    font-size: 1.5rem;
}
#deal-price {
    font-size: 2rem;
    font-weight: 900;
}
#deal-section .button {
    display: inline-block;
    position: absolute;
    bottom: -70px;
    right: 0px;
    padding: 1rem;
    font-weight: bold;
}
#sale-section {
    padding: 1rem;
    grid-row: 3 / 4;
    margin-bottom: 2rem;
}
#sale-section .article-cards {
    padding: 2rem;
    flex: 0 0 100%;
}
#sale-section .blue-links {
    font-weight: 500;
}
#sale-section .article-cards h3 {
    font-size: 1.2rem;
    margin: 0 0 1.5rem 0;
    padding: 0;
}
#sale-section .article-cards a {
    margin: 0;
    padding: 0;
}
#tips-og-inspo {
    padding: 1rem;
    grid-row: 4 / 5;
    margin-bottom: 2rem;
}


/* hotel page */
.container.hotelpage {
    width: 100%;
}
.container.hotelpage main {
    width: 100%;
    max-width: 100%;
    grid-template-rows: repeat(5, auto);
}
#hotel-header {
    grid-row: 1 / 2;
    margin-bottom: 3rem;
}
#hotel-header nav {
    padding: 1rem 1rem 0 1rem;
    border-bottom: 1.5px solid #f6f5f2;
}
#hoteltabs {
    padding: 0;
    gap: 1.5rem;
}
#hoteltabs a {
    font-size: 1.5rem;
    text-decoration: none;
}
#hoteltabs li {
    padding-bottom: 0.5rem;
}
#hoteltabs li.active {
    border-bottom: 3px #52d3f0 solid;
}
#hoteltabs li.active a{
    color: #52d3f0;
}
#photo-gallery {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}
#photo-gallery picture {
    width: 100%;
    display: block;
}
#photo-gallery img {
    width: 100%;
    height: auto;
    max-height: 750px;
    object-fit: cover;
}
#heart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    position: absolute;
    top: 50%;
    background: rgba(255, 255, 255);
    color: rgb(255, 0, 0);
    border: none;
    padding: 1rem;
    cursor: pointer;
    border-radius: 50%;
    top: 10px;
    z-index: 2;
}
#heart .fa-heart {
    font-size: 125%;
}
#image-count {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 15px;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 15px 25px;
    cursor: pointer;
    border-radius: 15px;
    z-index: 2;
    bottom: 10px;
}
#image-count i {
    font-size: 80%;
    margin-right: 3px;
}
#image-count span {
    font-size: 0.9rem;
    font-weight: 500;
}
#heart, 
#image-count{
    right: 10px;
}
#summary {
    max-width: 100%;
    grid-row: 2 / 3;
    gap: 0.5rem;
}
#summary p {
    margin-bottom: 1rem;
}
#summary span {
    margin-right: 10px;
}
#sun-icons {
    color: #ffcf40;
}
#sun-icons i {
    font-size: 1.5rem;
    margin-right: 15px;
}
#facilities {
    grid-row: 3 / 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    gap: 1rem;
    max-width: 100%;

    h2 {
        grid-row: 1 / 2;
        grid-column: 1 / 3;
    }
    #description {
        grid-row: 2 / 3;
        grid-column: 1 / 3;
    }
    #facilityone {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
    }
    #facilitytwo {
        grid-row: 3 / 4;
        grid-column: 2 / 3;
    }
    a {
        grid-row: 4 / 5;
        grid-column: 1 / 3;
    }
}
#facilityone, #facilitytwo {
    margin: 0 auto;            
}
#facilityone i , #facilitytwo i{
    font-size: 1.5rem;
    margin-right: 5px;
    margin-bottom: 15px;
}
#map {
    max-width: 100%;
    grid-row: 4 / 5;
    padding: 0.5rem;
    iframe {
        border-radius: 20px;
    }
}
#choose-room {
    grid-row: 5 / 6;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    height: auto;
    max-width: 100%;
    margin-bottom: 3rem;

    h2 {
        width: 100%;
    }
    .article-cards {
        padding-bottom: 1rem;
        margin-bottom: 20px;

        h3 {
            margin-bottom: 20px;
            padding-bottom: 0;
            padding-top: 10px;
        }
        p {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            padding: 0.5rem 1.5rem;
        }
    }
}
#summary, #facilities, #map, #choose-room {
    padding: 1.5rem;
}

#choose-room-button {
    display: none;
    grid-template-columns: 2fr 1fr;
    position: fixed;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 99;
    outline: none;
    background-color: white; 
    color: black;
    cursor: pointer;
    padding: 25px;
    border-radius: 50px 50px 0 0;
    font-size: 18px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
    max-height: 100px;
    align-content: center;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
}
#choose-room-button p {
    grid-column: 1 / 2;
    margin: 5px 10px 10px 20px;
    font-size: 1.2rem;

    span {
        font-size: 2rem;
        font-weight: 600;
    }
}
#choose-room-button button {
    align-self: center;
    justify-self: flex-end;
    grid-column: 2 / 3;
    background-color: #1ca2c1;
    border-radius: 45px;
    color: white;
    min-height: 50px;
    max-height: 75px;
    min-width: 150px;
    max-width: 175px;
}
#choose-room-button.show {
    display: grid;
    opacity: 1;
    width: 100%;
}
#choose-room .article-cards p,
#choose-room .article-cards h3{
    margin: 10px;
    padding: 0 1.2rem;
}
#choose-room .article-cards .description {
    font-size: 0.9rem;
}
#choose-room .article-cards .bed-info {
    align-items: flex-end;
    align-self: center;
    max-height: 100px;
    display: flex;
    font-size: 0.8rem;
}
#choose-room .article-cards picture, img {
    width: 100%;
    object-fit: cover;
}

.price-tag {
    font-size: 1.5rem;
    font-weight: 700;
    align-self: flex-end;
}


/* order page */
.container.orderpage {
    width: 100% ;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.container.orderpage main,
.container.orderpage section {
    width: 100%;
    max-width: 100%;
}
.orderpage h1 {
    font-size: 1rem;
}
#breadcrumbs {
    width: 100%;
    background-color: #1ca2c1;
    padding: 0;
    overflow: hidden;
    border-radius: 0 0 20px 20px;
    z-index: 10;
    position: relative;
    top: 0; 
}

#breadcrumbs .scroll-container {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    white-space: nowrap;
    padding: 0;
    width: 100%;
}

.scroll-container::-webkit-scrollbar {
    display: none;
}

#breadcrumbs .scroll-item {
    display: inline-flex;
    align-items: center;
    margin-right: 10px;
    font-size: 14px;
}

#breadcrumbs .scroll-item a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    background: transparent;
    font-weight: 600;
    display: flex;
    align-items: center;
}

#breadcrumbs .scroll-item i {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    color: white;
    height: 100%;
    padding: 0 5px
}

#detail-button {
    width: 95%;
    justify-self: center;
    align-self: center;
    margin-top: 20px;
    padding: 1rem;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    
}
#your-choices .article-cards i {
    font-size: 1.5rem;
    margin-left: 15px;
}
#detail-menu {
    display: none;
}
#detail-menu.show {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 95%;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid #f6f5f2;
    border-radius: 15px;
    padding: 1.5rem;
}
#detail-menu img, #detail-menu h3, #your-choices-description, #detail-menu p{
    padding: 1rem;
    margin: 0;
}
#detail-menu span {
    padding-left: 1rem;
}

#final-order {
    box-sizing: border-box;
    padding: 0 1rem;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.order-section {
    background-color: #f6f5f2;
    border-radius: 20px;
    border: none;
    max-width: 100%;
    width: 100%;
    padding: 1rem;
    align-self: center;
    justify-self: center;
    margin-bottom: 1rem;
}
.radio-labels {
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    margin-right: 15px;
}
.radio-labels input[type="radio"] {
    vertical-align: middle; 
    margin: 0;
}
.order-section input,
.order-section select {
    box-sizing: border-box;
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;
    width: 100%; /* 100% width for inputs */
}
.order-section label, 
.order-section legend {
    text-transform: uppercase;
    margin-bottom: 15px;
    font-weight: 800;
}
.order-section fieldset {
    max-width: 100%;
    width: 100%;
    border: none;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 15px;
}
.order-section legend {
    margin-bottom: 15px;
}
.order-section input[type="number"] {
    text-align: center; 
}
.order-section .birthdate {
    width: 100%;
    display: grid;
    gap: 5rem;
    grid-template-columns: 3fr 2fr 4fr;
}
.full-width-input {
    width: 100%;
}
.day {
    grid-column: 1 / 2;
}
.month {
    grid-column: 2 / 3;
}
.year {
    grid-column: 3 / 4;
}
.big-legend {
    padding-left: 1rem;
    font-size: 1.5rem;
}
label.radio-labels {
    font-weight: normal;
}
.orderpage h1 {
    padding: 1.2rem;
    font-size: 2.2rem;
    font-weight: bold;
}

/* desktop version */
@media (min-width: 1024px) {
    /* desktop classes and defaults*/
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    body, .container {
        max-width: 1400px;
        width: 100%;
        margin: 0 auto;
    }
    .desktop {
        display: unset;
    }
    .button-burger, .mobile {
        display: none;
    }
    #burger-menu {
        display: flex;
    }
    .flex-menu {
        gap: 0;
    }
    .header-buttons {
        display: flex;
        color: #1ca2c1;
        border: 1.5px solid #1ca2c1;
        border-radius: 35px;
        padding: 10px 15px;
        height: 45px;
        align-items: center;
        justify-content: center;
    }
    #magnifying-glass {
        margin-right: 10px;
    }
    .header-buttons a span{
        align-self: center;
        justify-self: center;
        text-align: center;
        font-weight: 700;
        margin-left: 5px;
    }
    .header-buttons a {
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #header-menu {
        margin-top: 1rem;
        gap: 1rem;
    }

    /* desktop header and footer */
    #global-footer i, #global-header i {
        font-size: 1.6rem;
        margin-right: 10px;
    }
    #global-header {
        padding: 0 0.5rem;
        border-bottom: 1.5px solid #f6f5f2;;
        margin-bottom: 0;
        font-size: 1rem;
    }
    #global-header nav{
        width: 100%;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        gap: 0;
    }
    .logo-link {
        grid-row: 1 / 3;
        grid-column: 1 / 2;
        width: 100px;
        padding: 10px;
    }
    #website-logo {
        min-width: 90px;
        height: auto; 
        width: 100%;
    }
    #header-menu {
        grid-row: 1 / 2;
        grid-template-columns: 2 / 3;
        align-self: center;
        justify-self: flex-end;
    }
    #burger-menu {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        align-self: center;
        justify-self: flex-end;
        margin-right: 0.5rem;
        gap: 1.5rem;
        font-weight: 600;
        padding-bottom: 1rem;
        padding-top: 1rem;
        padding-right: 1rem;
    }
    #burger-menu li a{
        text-wrap: nowrap;
    }
    #global-footer {
        grid-row: 3 / 4;
        display: grid;
        max-width: 100%;
        grid-template-columns: 1fr 2fr 1fr 1fr;
        grid-template-rows: repeat(2, auto);
        gap: 2rem 2rem;
        background-color: #252525;
        color: white;
        padding: 2rem 1rem 2rem 1rem;
    }
    #global-footer section {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    #footer-countries {
        grid-row: 1 / 2;
        grid-column: 2 / 4;
        max-width: 100%;
    }
    #flag-menu {
        align-self: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 100%;
    }
    #flag-menu li {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: left;
    }
    #flag-menu img {
        max-width: 50px;
        margin-right: 10px;
    }
    #footer-payment {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }
    #footer-news {
        text-wrap: nowrap;
        width: 100%;
        grid-row: 2 / 3;
        grid-column: 2 / 3;
    }

    #footer-customerservice {
        grid-row: 2 / 3;
        grid-column: 3 / 4;
    }
    #footer-socialmedia {
        grid-row: 2 / 3;
        grid-column: 4 / 5;
    }
    #global-footer h3 {
        font-size: 1.2rem;
        margin-bottom: 10px;
    }
    #footer-news .border-container {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto auto;
        gap: 10px;
        width: 100%;
        padding: 1rem;
        margin-bottom: 10px;
        margin-top: 5px;
    }
    #footer-news .text-labels {
        font-size: 1rem;
        padding: 3px;
        top: -15px;
    }
    #global-footer section {
        padding: 10px 1rem;
    }
    
    /* desktop front page */
    #order-form, #form-layout, 
    .container.hotelpage main,
    #deal-section, #sale-section, #tips-og-inspo {
        max-width: 1000px;
        justify-self: center;
        align-self: center;
    }
    #frontpage-header {
        padding: 0;
        gap: 0;
    }
    #order-form {
        padding: 0;
        gap: 0;
    }
    .scroll-container {
        position: unset;
        padding: 1rem 1.3rem;
    }
    #form-layout {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: auto;
    }
    #fromDestinationLabel {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    #toDestinationLabel {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    #travelDurationLabel {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }
    #travelDateLabel {
        grid-column: 4 / 5;
        grid-row: 1 / 2;
    }
    #amountTravellersLabel {
        grid-column: 5 / 6;
        grid-row: 1 / 2;
    }
    #searchTravel {
        grid-column: 6 / 7;
        grid-row: 1 / 2;
        height: 45px;
    }
    #form-layout .text-labels {
        font-size: 0.8rem;
        text-wrap: nowrap;
        top: -10px;
        left: 10px;
        padding: 1.5px;
    }
    #sale-section.scroll-container {
        max-height: 300px;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 1.5rem;
        overflow: hidden;
    }
    #sale-section {
        width: 100%;
        max-width: 1000px;
        padding: 5px;
        justify-content: center;
        align-items: center;
    }
    #sale-section .article-cards {
        flex: unset;
        padding: 1rem 1.5rem 1rem 1.4rem;
        gap: 0.5rem;
        width: auto;
        border-radius: 10px;
        max-height: 150px;
        justify-content: flex-start;
        align-items: flex-start;
    }
    #sale-section .article-cards h3 {
        font-size: 1.2rem;
        margin: 5px 10px 0 0;
        padding: 10px 10px 10px 0;;
    }
    #sale-section .article-cards a {
        margin: 0;
        padding: 0 10px 0 0px;;
    }
    #tips-og-inspo {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0;

        align-items: center;
        align-content: center;
        justify-self: center;
        justify-content: space-between;

        h2 {
            width: 100%;
        }
    }
   
    #tips-og-inspo .article-cards {
        height: 100%;
        min-height: 500px;
        width: calc((100% / 3) - 20px);
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto 1fr auto;
    }
    .article-img {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        
        img {
            height: 100%;
        }
    }
    .article-title {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }
    .article-description {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .article-description p {
        align-self: start;
        margin: 0;
        padding: 0;
        display: flex;
        font: 1rem;
    }
    .blue-bottom {
        grid-row: 4 / 5;
        grid-column: 1 / 2;
        padding: 0 0.5rem;
        margin: 0;
    }
    
    #tips-og-inspo .article-cards h3 {
        font-size: 1rem;
        margin: 0;
    }
    #tips-og-inspo .article-cards p {
        font-size: 0.9rem;
        margin: 0;
    }
    #deal-section {
        position: relative;
    }
    #deal-section article {
        left: 200px;
        top: -100px;
    }

    
    /* desktop hotel page */
    .container.hotelpage main {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: repeat(5, auto);
        width: 100%;
    }

    #hotel-header {
        grid-row: 1 / 2;
        grid-column: 1 /3;
    }
    #photo-gallery {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 1rem;
        width: 100%;
    }
    #photo-gallery img{
        width: 100%;
        height: 100%;
    }
    #photo-gallery picture{
        width: 100%;
        height: 100%;
    }
    #picture-one {
        grid-column: 1 / 3;
        grid-row: 1 / 3;
    }
    #picture-two {
        grid-column: 3 / 5;
        grid-row: 2 / 4;
    }
    #picture-three {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }
    #picture-four {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
    #picture-five {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }
    #picture-six {
        grid-column: 4 / 5;
        grid-row: 1 / 2;
    }
    #photo-gallery .prev, #photo-gallery .next {
        display: none;
    }
    #summary {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }
    #facilities {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
    }
    #choose-room {
        grid-row: 5 / 6;
        grid-column: 1 / 3;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0;

        align-items: center;
        align-content: center;
        justify-self: center;
        justify-content: space-between;

    }
    #choose-room .article-cards {
        min-height: 500px;
        width: calc((100% / 3) - 20px);
        display: grid;
        margin: unset;
        height: auto;
    }
    #choose-room h2 {
        display: none;
    }
    #choose-room-button {
        grid-row: 4 / 5;
        grid-column: 1 / 3;
        position: unset;
        transform: unset;
        width: 100%;
        max-width: 1000px;
        justify-self: center;
        align-self: center;
        margin: 0;}
    #map {
        grid-row: 2 / 4;
        grid-column: 2 / 3;
        width: 350px;
        height: 350px;
    }
    #map iframe {
        max-width: 100%;
        max-height: 100%;
    }
     /* desktop order page */
     .orderpage {
        max-width: 1400px; 
        margin: 0 auto;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    .orderpage main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 2rem;
        max-width: 1000px;
        margin: 0 auto;
        width: 100%;
    }

    #breadcrumbs {
        display: flex;
        margin: 0 auto;
        justify-content: center;
        padding: 10px 0;
        max-width: 1000px;
        width: 100%;
        background-color: #1ca2c1;
    }

    #breadcrumbs .scroll-container {
        display: flex;
        overflow: hidden;
        white-space: normal;
        width: 100%;
        justify-content: center;
    }

    #first-order label,
    #second-order label {
        margin-bottom: 1rem;
    }

    #first-order input,
    #second-order input {
        width: 100%; /* Make inputs take up 100% of the container */
        padding: 0.8rem;
        box-sizing: border-box;
    }

    #your-choices {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex: 1;
        overflow: hidden; /* Prevent any overflow in this section */
    }

    #final-order-form {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }

    #your-choices {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        align-self: flex-start;
        overflow: hidden; /* Prevent overflow in the your-choices section */
    }

    #detail-menu {
        display: flex;
        flex-direction: column;
    }

    #your-choices-description,
    #sun-icons {
        align-self: flex-start;
    }

    #your-choices .article-cards p i {
        margin: 0;
        line-height: 1.5;
    }

    #your-choices #sun-icons i {
        margin-right: 15px;
    }

    #detail-button {
        display: none;
    }

    #first-order {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-template-rows: repeat(6, auto);
        gap: 2rem;
        position: relative;
        width: 100%;
    }

    .first-name-grid {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }

    .last-name-grid {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
    }

    #birthdate-one {
        grid-row: 2 / 3;
        grid-column: 1 / 3;
    }

    #gender-one {
        grid-row: 3 / 4;
        grid-column: 1 / 3;
    }

    .email-grid {
        grid-row: 4 / 5;
        grid-column: 1 / 2;
    }

    .telephone-grid {
        grid-row: 4 / 5;
        grid-column: 2 / 3;
    }

    .address-grid {
        grid-row: 5 / 6;
        grid-column: 1 / 2;
    }

    .zip-code-grid {
        grid-row: 5 / 6;
        grid-column: 2 / 3;
    }

    .city-grid {
        grid-row: 6 / 7;
        grid-column: 1 / 2;
    }

    .country-grid {
        grid-row: 6 / 7;
        grid-column: 2 / 3;
    }

    #second-order {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-template-rows: repeat(3, auto);
        gap: 2rem;
        position: relative;
        width: 100%;
    }

    .first-name-two-grid {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }

    .last-name-two-grid {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
    }

    #birthdate-two {
        grid-row: 2 / 3;
        grid-column: 1 / 3;
    }

    #gender-two {
        grid-row: 3 / 4;
    }

    /* Prevent overflow for all inputs and labels */
    .order-section label {
        z-index: 2;
    }

    #first-name,
    #last-name,
    #e-mail,
    #telephone,
    #address,
    #zip-code,
    #city,
    #country,
    #first-name-two,
    #last-name-two {
        position: relative;
        z-index: 0;
        margin-top: 1rem;
    }

    #gender-one {
        margin: 0;
    }

    #birthdate-one,
    #birthdate-two {
        margin-top: 1.5rem;
        margin-bottom: 0;
    }

    #birthdate-one input,
    #birthdate-two input {
        margin-bottom: 0;
    }
}
   